#body-content {
    display: flex;
    justify-content: space-between;
    padding-top: 5vw;
    height: fit-content;
}


/* --------------- css for small screen ---------------------  */

@media only screen and (max-width:800px) {
    #body-content {
        justify-content: center;
    }
}
