#codes::-webkit-scrollbar-thumb:hover {
    background: gold;
}

#codes::-webkit-scrollbar {
    width: 1vw;
}

#codes::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.459);
}

#leetcode-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 42.5vw;
}

#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#questions h1 {
    font-size: 1.9vw;
}

#text {
    font-size: 3.9vw;
}

#codes {
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
    height: 89vh;
    width: 70%;
}

#codes:hover {
    overflow-y: scroll;
}

.box {
    height: 26vw;
    padding-left: 1.3vw;
    padding-right: 1.3vw;
    padding-top: 0.6vw;
    width: 71%;
    background-color: black;
}

#copy-to-clipboard {
    float: right;
    width: 2vw;
    cursor: pointer;
}

#code {
    height: 100%;
    overflow-y: scroll;
}

code {
    color: white;
    font-size: 1.2vw;
}

#code::-webkit-scrollbar {
    display: none;
}
