nav {
    box-shadow: 1px 2px 2px gray;
    position: fixed;
    display: flex;
    justify-content: center;
    height: 5vw;
    width: 100%;
}

#header,
#leetcode {
    width: 83%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#leetcode {
    width: 80%;
    justify-content: center;
}

#leetcode h1 {
    font-size: 1.9vw;
    margin-left: 0.7vw;
    /* text-shadow: 1px -5px 5px rgba(21, 21, 21, 0.377), 1px 5px 5px rgba(21, 21, 21, 0.377); */
}

#profile {
    display: flex;
    width: 17%;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1vw;
    align-items: center;
}

#profile span {
    margin-left: 0.4vw;
}

/* ------------------------------- css for small screen --------------------------------- */

@media only screen and (max-width:800px) {
    #header {
        width: 80%;
    }
    #profile {
        width: 20%;
    }
}
