#sidebar {
    overflow-y: hidden;
    width: 30%;
    height: 85vh;
    margin-left: -1.5vw;
}

#sidebar:hover {
    overflow-y: scroll;
}

#sidebar ul li {
    margin-bottom: 0.4vw;
    list-style: none;
}

#sidebar ul li h2 {
    font-size: 1.6vw;
}

#questions-no li a {
    text-decoration: none;
    color: black;
    margin-left: -1.5vw;
    font-weight: 500;
    font-size: 1vw;
}

#questions-no li a:hover {
    color: gold;
}

#sidebar::-webkit-scrollbar {
    width: 0.5vw;
}

#sidebar::-webkit-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.459);
    border-radius: 0.5vw;
}

#sidebar::-webkit-scrollbar-thumb:hover {
    background: gold;
}


/* --------------- css for small screen -----------------------*/

@media only screen and (max-width:800px) {
    #sidebar {
        margin-left: -8vw;
        width: 45%;
    }
    #sidebar ul li {
        margin-bottom: -3vw;
    }
    #questions-no li a {
        margin-left: -9vw;
    }
}
